<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>licenseCheckServlet</servlet-name>
        <servlet-class>com.testlicense.LicenseCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>licenseCheckServlet</servlet-name>
        <url-pattern>/LicenseCheckServlet</url-pattern>
    </servlet-mapping>
</web-app>
